.box{
    padding: 20px;
    font-family: Arial;
    background: #f5f5f5;
    background-color: #fff; 
    box-shadow: 0 0 1px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    margin-bottom: 200px;
  }
  
  .login-container {
    background-image: url("../images/tela\ de\ fundo.jpg"); /* Caminho da imagem de fundo */
    background-size: cover; /* Cobrir toda a área */
    background-position: center; /* Centralizar a imagem */
    background-repeat: no-repeat; /* Evitar repetição */
    min-height: 100vh; /* Cobrir toda a altura da tela */
    display: flex;
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
}

.login-form {
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com transparência */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.image {
    border-radius: 10px;
}

